html, body {
    margin: auto;
    height: 100%;
    background: #fff;
    background: url("../public/images/background-4.png") repeat top / cover;
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #fff;
}

.page-container {
    width: 1290px;
    margin: auto;
}

main {
    margin-top: 30px;
}

.menu {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(51, 51, 51, 1) 100%, rgba(204, 204, 204, 1) 100%) !important;
    padding: 12px 30px;
    height: auto;
    max-height: 100px;
}

.menu ul {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.menu ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li a span {
    margin-left: 5px;
}

.sidebar {
    height: 100%;
    background: rgba(255, 255, 255, .5);
}

.sidebar header {
    background: #333;
    padding: 10px;
}

.sidebar h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: 0;
}

.sidebar main {
    padding: 15px;
    margin: 0;
    text-transform: uppercase;
}

.sidebar p {
    margin-bottom: 10px;
    text-align: center;
}

.sidebar p:last-child {
    margin-bottom: 0 !important;
}

.sidebar main ul {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
}

.sidebar main ul li {
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    padding-bottom: 5px;
}

.sidebar main ul li:last-child {
    border-bottom: none !important;
}

.sidebar main ul li a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
}

.sidebar main ul li label {
    font-size: 12px;
    font-weight: 600;
}

.sidebar main ul li a:hover {
    text-decoration: underline;
}

.sidebar main img {
    margin: auto;
}

.video-container {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

.video-container .opacity {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .3);
    width: 100%;
    z-index: 1;
}

.video-container .youtubeButton {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    z-index: 100;
}

.video-container img {
    border-radius: 5px;
}

.video-block-container {
    margin-bottom: 20px;
}

.video-block-container p {
    font-size: 12px;
    color: #333;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.video-container a {
    text-decoration: none !important;
}

.content {
    padding: 20px 40px;
    background: rgba(255, 255, 255, .5);
}

.list-group.list-group-flush.text-start {
    font-size: 12px;
}

.product-card .category {
    font-size: 10px;
    margin-top: 8px;
    color: rgba(0, 0, 0, .7) !important;
    font-weight: 800;
    text-transform: uppercase;
}

.product-card .title {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
}

.product-card .price {
    margin: 1px 0 !important;
    font-size: 14px;
    font-weight: 900;
}

.btn.btn-primary {
    border-radius: 0 !important;
    background: #333;
    border: 1px solid #333;
}

.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn.btn-primary:visited {
    background: #000;
    border: 1px solid #333;
    outline: 0 !important;
}

.product-card img {
    height: 150px !important;
}

.pdf-container h5 {
    font-weight: 900;
    font-size: 14px;
    text-transform: uppercase;
}

.form-control,
.form-control:focus,
.form-control:visited {
    border-radius: 0 !important;
    outline: 0 !important;
    border: 1px solid black;
}

.search-result {
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: auto;
    max-height: 150px;
    overflow-y: scroll;
}

.subcategory li {
    border-bottom: none !important;
    margin-bottom: 3px !important;
    font-size: 14px;
    margin-top: 3px;
    text-transform: uppercase;
}

.search-result div {
    padding: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.search-result div > a {
    font-size: 14px !important;
    font-weight: bold !important;
    color: var(--bs-link-color) !important;
}

.search-result div > span {
    font-size: 12px;
    text-align: center;
}

.form-control.search-input {
    height: 30px;
}

.carrito-count {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 10px;
    padding: 1px;
    width: 20px !important;
    margin: auto;
    left: 0;
    border-right: 0 !important;
    height: 20px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 14px;
}

.product-container {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.disclaimer-text {
    font-size: 14px;
}

.checkout-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout-summary p {
    margin-bottom: 0;
}

.card-footer {
    background-color: #fff !important;
    border-top: none !important;
}

.card-footer .total-amount {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.card-footer .total-amount h1 {
    font-size: 26px;
}

.cart-product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-product-container .product-details {
    margin-left: 30px;
}

.cart-product-container .product-details h3 {
    font-size: 20px;
}

.cart-product-container .product-details a {
    text-decoration: none;
}

.cart-product-container .product-details p {
    font-weight: 400;
    font-size: 16px;
    color: rgba(0, 0, 0, .45);
}

.cart-product-container .product-details .cta-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.cart-product-container .product-details button {
    padding: 0;
    font-size: 14px;
    text-decoration: none !important;
}

.cart-product-container .price h1 {
    font-size: 26px;
}

.product-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination .page-item .page-link {
    background-color: #333;
    border-color: #333;
    color: #fff;
    border-radius: 0 !important;
}

.quantity-selector {
    width: 120px;
}

.quantity-selector .btn-plus {
    background-color: #333;
    border-color: #333;
    color: #fff;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

footer {
    background: #333;
    width: 100%;
    height: auto;
    padding: 50px;
    color: #fff;
}

footer .subtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px
}

footer a,
footer a .subtitle {
    color: #fff;
    text-decoration: none !important;
}

footer ul {
    list-style: none;
    font-size: 14px;
    padding: 0;
}

footer ul.social-networks {
    margin: auto;
    list-style: none;
    padding: 0;
}

footer ul.social-networks li {
    display: inline-flex;
    padding-right: 10px;
    padding-left: 10px;
}

footer ul.social-networks li a {
    color: #fff;
}

footer ul.social-networks li a i {
    font-size: 1.5em;
}
